<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Name Picker</title>



    <style>
    div {
        align-content: center;
    font-size: 30px;
    }

    div.winner {
    font-size: 50px;
        color: blueviolet;

    }

        #display{
            padding-left: 30%;
            padding-top: 30%    ;
        }

        #random{
            width:30%;
            height: 10%;
            font-size: 30px;}
    </style>

</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    // test case for http://stackoverflow.com/questions/9464555/js-jquery-animated-random-name-picker




    $(document).ready(function() {










    var volunteers = [
        { 'Name': "AR Singer" },
        { 'Name': "Rob Fleming" },
        { 'Name': "Lucy Loo" },
        { 'Name': " Marni" },
        { 'Name': " Yoko" },
        { 'Name': "Alfred" },
        { 'Name': "Scott Vegan" },
        { 'Name': "Rob" },
        { 'Name': " Rhea" },
        { 'Name': "Soumen" },
        { 'Name': "Sarah" },
        { 'Name': "Stephanie" },
        { 'Name': " BRIAN" },
        { 'Name': " Ian" },
        { 'Name': " Gustavo" },
        { 'Name': " Wing lee" },
        { 'Name': " Robert" },
        { 'Name': " Nancy" },
        { 'Name': "Len Goldberg" },
        { 'Name': "Charles Ng" },
        { 'Name': " Sonit" },
        { 'Name': "  Robert Donation" },
        { 'Name': "Rachel" },
        { 'Name': "Uncle Bruce" },
        { 'Name': " Andrew Melo" },
        { 'Name': " Kerri Morrison" },
        { 'Name': " Giti Karmaker" },
        { 'Name': "Victory" },
        { 'Name': "Christine" },
        { 'Name': " Taty Melo" },
        { 'Name': " Jenny McQueen" },

    ];

    var $display = $("#display");

        $('#random').click(function(){
            var total = volunteers.length,
                selected = Math.floor( Math.random() * total ),
                i = 0;

            console.log( "selected", selected );
            //$display.animate( {"font-size": "12px"}, 0 );
            // or
            $display.removeClass( "winner" );

            // improvement: use a for loop instead of a for..in
            for (i=0; i<total; i++) {

                console.log( "for", i );
                // here is the trick, use an Immediately-Invoked Function Expression (IIFE)
                // see http://benalman.com/news/2010/11/immediately-invoked-function-expression/
                // play with the two button "IIFE" and "No IIFE" to see why this is important
                setTimeout((function(i){
                    return function(){
                        // code here will be delayed
                        console.log( "timeout", i );
                        $display.text( volunteers[i].Name.toUpperCase() );
                        if( i === selected ) {
                            //$display.animate( {"font-size": "30px"}, "fast" );
                            // or
                            $display.addClass( "winner" );
                        }
                    };
                }(i)), i*250);

                // improvement: triple equal sign, always !
                if( i === selected ) {
                    // code here will execute immediately
                    break;
                }
            }

        });


    $("#iife").click(function() {
        var i = 0, total = 10;

        for (i=0; i<total; i++) {
            // the only difference is here
            setTimeout((function(i){
                return function() {
                    // this will log all values from 0 up to 9
                    console.log( "timeout without IIFE", i );
                };
            }(i)), i*250);
        }

    });

    $("#no-iife").click(function() {
        var i = 0, total = 10;

        for (i=0; i<total; i++) {
            // the only real difference is in this function definition
            setTimeout(function() {
                // this will log the value 0 ten times
                console.log( "timeout without IIFE", i );
            }, i*250);
        }

    });


    });
</script>

<div id="display">

    <input type="button" id="random" value="Pick one !" />
</div>







</body>
</html>